*{
    margin:0;
    padding:0;
    font-family: "poppins", "sans-serif";
    box-sizing: border-box;
}

body{
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #153677,#4e085f);
    padding:10px;
}
    
.container{
    width: 270px;
    height:500px;
    background: #22252D;
    margin: 100px auto 20px;
    padding: 1px;
    border-radius:15px;
    display:flex;
    flex-direction: column;
}

.display{
    height: 170px;
    border-radius: 15px 15px 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    font-size: 2em;
}
.calculator-body{
    height:330px;
    background-color: #292D36;
    border-radius: 15px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px 10px;
}
.grid-item{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5 em;
    text-align: center;
    color: white;
    height: 50px;
    width:50px;
    background-color:  #262a32;
    align-items: center;
    border-radius: 10px;
    box-shadow: #22252D;
}
.grid-item:hover {
    background-color: #4e4f57;
}
.grid-operator{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5 em;
    text-align: center;
    color: rgb(213, 18, 18);
    height: 50px;
    width:50px;
    background-color:  #262a32;
    align-items: center;
    border-radius: 10px;
    box-shadow: #22252D;
}
.grid-operator:hover {
    background-color: #4e4f57;
}
.grid-equals{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5 em;
    text-align: center;
    color: rgb(7, 123, 73);
    height: 50px;
    width:50px;
    background-color:  #262a32;
    align-items: center;
    border-radius: 10px;
    box-shadow: #22252D;
}

.grid-equals:hover {
    background-color: #4e4f57;
}

.grid-clear{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5 em;
    text-align: center;
    color: rgb(7, 123, 73);
    height: 50px;
    width:50px;
    background-color:  #262a32;
    align-items: center;
    border-radius: 10px;
    box-shadow: #22252D;
}

.grid-clear:hover {
    background-color: #4e4f57;
}